@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('../imagens/800px-Campo_de_futebol_americano.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: black;
}

header {
    background-color: lightgray;
    color: black;
    padding: 5px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.322);
    position: sticky;
    top: -1px;
}

header a {
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}

#logo {
    float: right;
    margin-top: 10px;
    font-size: .7em;
}

#shield img {
    margin-right: 5px;  
}

#logo img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

#container {
    position: absolute;
    margin: auto;
    background-color: #6D4534;
    width: 300px;
    height: 250px;
    padding: 20px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-radius: 25px;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;
}

.title-login {
    text-align: center;
    margin: 1.5em;
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.568);
}

.field {
    margin: 5px;
}

.conteudo {
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 25px;
    border: none;
    padding-right: 50px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.425);
}

.esenha a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.esenha a:hover {
    text-decoration: underline;
}

.btn-login {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0275f0;
}

.btn-cad {
    text-decoration: none;
    color: rgb(0, 0, 0);
    float: right;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    background-color: rgb(240, 239, 239);
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-cad:hover {
    background-color: rgb(231, 229, 229);
}