@charset "UTF-8";

@media screen and (max-width: 375px) {

    header {
        position: sticky;
        top: -1px;
    }

    header h1 {
        justify-content: space-between;
        margin-left: 135px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1em;
    }

    #title {
        margin: auto;
    }

    #title1 a {
        display: none;
    }

    #idpes {
        display: none;
    }
    header h1 hr {
        display: none;
    }

    footer {
        font-size: .5em;
    }

    #burguer {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 550px) {

    header {
        position: sticky;
        top: -1px;
    }

    header h1 {
        justify-content: space-between;
        margin-left: 135px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    #title {
        margin: auto;
    }

    #idpes {
        display: none;
    }
    
    header h1 hr {
        display: none;
    }

    footer {
        font-size: .6em;
    }

    #burguer {
        display: none;
    }

    #title1 a {
        display: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 628px) {

    header {
        position: sticky;
        top: -1px;
    }

    header h1 {
        justify-content: space-between;
        margin-left: 135px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.3em;
    }

    #title {
        margin: auto;
    }

    #idpes {
        display: none;
    }

    header h1 hr {
        display: none;
    }

    #title1 a{
        font-size: 1.1em;
    }
    
    #title1 a {
        display: none;
    }

    footer {
        font-size: .9em;
    }

    #burguer {
        display: none;
    }
}

@media screen and (min-width: 628px) and (max-width: 1349px) {
    header {
        position: sticky;
        top: -1px;
    }

    header h1 {
        margin-left: 135px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1em;
    }

    header h1 hr {
        margin-top: 10px;
    }

    #title {
        width: auto;
    }

    #title1 a {
        display: none;
        font-size: 1.5em;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    header.rolagem #title1 a {
        display: block;
    }

    #burguer {
        display: none;
    }
}

@media screen and (min-width: 1349px) {

    header {
        position: sticky;
        top: -1px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
    }

    header h1 a {
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
        margin-top: 5px;
    }

    header.rolagem #title1 a {
        display: block;
    }
    
    #title1 a{
        display: none;
        font-size: 1.5em;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #topo {
        margin-top: 10px;
    }

    #topo a {
        padding: 3px;
    }

    #topo #usu {
        float: right;
        font-size: 1em;
    }

    .logos {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    hr {
        display: block;
        margin-top: 10px;
    }

    #burguer {
        display: none;
    }

    #pe {
        display: block;
    }

    #pe > ul > li {
        display: inline-block;
    }

    #pe > ul > li > a:hover {
        background-color: rgb(94, 93, 93);
        transition-duration: .5s;
    }

    main {
        width: 900px;
    }
}